
  .header {
    display:grid;
    width:100%;
     grid-template-columns:1fr 2fr 2fr 1fr;
     background: #cccccc;
     color: #777777;
     line-height: 2;
     border-bottom: solid #777777 2px;
     font-family:'Georgia', Times, Times New Roman, serif;
     
 }
 
 .toggle{
     grid-column:3;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr ;
     align-content: flex-end;
     text-align: end;
     
   }
   .portfolio{
       grid-row:2;
     grid-column:2;
     color: #777777;
    }
 .contact{
     grid-row:2;
     grid-column:3;
     color: #777777;
    }
 .About{
     grid-row:2;
     grid-column:1;
     align-self:end;
     color: #777777;
 }
   .name{ 
       grid-column:2;
       background: #4aaaa5;
       color: rgb(250, 243, 243);
       font-family: 'Georgia', Times, Times New Roman, serif;
       font-size: 24px;
     padding-left:15px;}
   
       
   .contentBox{
     margin: auto;
     display: grid;
     grid-template-columns: 1fr 3fr 1fr;
     grid-template-rows: 1fr 640px 1fr;
     background: url(assets/images/45degreee_fabric.png);
     padding:15px;
   }
   
   
   .main {
     grid-column: 2/3;
     grid-row: 1/ 4;
     background:#ffff;
     border: solid  #dddddd 2px;
 }
 .Aboutm{
     background: #ffff;
     font-size:24px;
     color: teal;
     line-height: 2;
     border-bottom: #dddddd solid 1px;
     padding-left:15px;
 }
 .rowT {
     display: grid;
     grid-template-columns: 200px 1fr;
     margin-top:15px;
     padding-left: 15px;
 }
   .side{
       grid-column: 2;
       align-content: center;
       margin-left:15px;
      color: #777777;
     }
   #under{
       padding-left:15px;
       color: #777777;
   }
   .footer {
     grid-column: 1/4;
     grid-row: 4;
     background: #777777;
     border-top: #4aaaa5 5px solid;
     line-height: 40px;
     margin-bottom:0;
     color: #cccccc;
     text-align: center;
   }
 
   /* index 2 */
    .subRowOne{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin-top:15px;
     padding-left: 15px;
     align-items: center;
    }
    .subRowTwo{ display: grid;
     grid-template-columns: 1fr 1fr 1fr;
   margin-top:15px;
     padding-left: 15px;}
  
     .subRowThree{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
        
         margin-top:15px;
         padding-left: 15px;
      }
    
   /* index 3 */
 .submit{
   background:#4aaaa5;
   color: rgb(250, 243, 243);
 }
 .contactform{
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   color: #777777;
 }
 
 /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}